p, tr, th, strong{
    font-family: 'verdana';
}

.main-nav{
    color:white;
    text-decoration: none;
}

.recipe-nav{
    color:black;
    text-decoration: underline;
    font-size: 1.5rem;
}

.dark-row{
    background-color:#C9C9C9;
}

.light-row{
    background-color: white;
}

.err-msg{
    color: red;
    font-size: 1.5rem;
}

#recipe-table{
    width:100%;
}

#recipe-form{
    width: 80%;
    text-align: center;
}

textarea{
    resize:none;
}

