p, tr, th, strong, h1, h2, h3{
    font-family: 'verdana';
}

.main-nav{
    color:white;
    text-decoration: none;
}

.recipe-nav{
    color:black;
    text-decoration: underline;
    font-size: 1.5rem;
}

.dark-row{
    background-color:#C9C9C9;
}

.light-row{
    background-color: white;
}

.err-msg{
    color: red;
    font-size: 1rem;
    text-align: center;
}

#recipe-table{
    width:100%;
    border: .2rem solid;
    border-color: black;
}

#recipe-form, #details-page{
    width: 40rem;
    margin: auto;
    color: rgb(76, 187, 76);
    /*borders referenced from: https://www.w3schools.com/css/css_table.asp*/
    border: .2rem solid;
    background-color: rgba(128, 128, 128, 0.215);
    padding: .75rem 2rem;
}

#details-page h2, .center-text{
    text-align: center;
    width:100%;
    margin-bottom: 0;
}

#details-page p{
    color: black;
}

#recipe-form label{
    color: green;
}

#recipe-form input, select, textarea{
    background-color: rgba(128, 128, 128, 0.215);
    border-radius: .25rem;
}

input{
    width: 10rem;
}

.fill-row-input input{
    width: 100%;
}

.fill-row-label label{
    width: 100%;
}

.center-input{
    text-align: center;
}


.radio-input{
    width: auto;
}

.pg-header{
    text-align: center;
    font-size: 2rem;
    color: green;
}

textarea{
    resize:none;
    height: 6rem;
    width: 100%;
}

label{
    font-weight: bold;
    float: left;
}

